body
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.htpcontainer
{
    width: 70%;
    height:70vh;
    display: flex;
    flex-direction: row;
    color: var(--third_color_light);
}

.htpicon
{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10em;
}

.htptext
{
    width: 60%;
    display: flex;
    justify-content:center;
    align-items: center;
}

@media screen and (max-width:650px) 
{

.htpcontainer
{
    flex-direction: column;
    align-items: center;
    width: 90%;
    height:40vh ;
}
.htpicon
{
    font-size: 5em;
}

.htptext
{
    text-align: center;
    margin-top: 4%;
    width: 100%;
}

    
}